@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Lexend:wght@300&family=Libre+Baskerville&display=swap');

// $background-green: #336644;
$background:#181733;
$background-text: #feffd7;
$background-component: #CF122D;
$text-red: #cc0033;
$subtitle: #FFFFFF;
$text-color: #333333;
$background-input:#CCCCCC;
$background-upcomingEvents: #DDBB44;
$font-text:'Libre Baskerville', serif;
$text-copyright: #FDC52C;

// $background-body: #F6F5F0;
// $background-nav: #2E3025;
// $background-one: #E7573C;
// $background-two: #F49700;
// $background-three: #B1BE0D;
// $background-four: #E0CA00;
// $background-slider: #7A9F35;
// $background-special: #865E42;
// $background-button-special: #9E8471;
// $background-white: #ffffff;

// $color-one: #E7573C;
// $color-two: #F49700;
// $color-three: #B1BE0D;
// $color-four: #E0CA00;
// $color-principal: #3C3C3C;
// $color-special: #776559;
// $color-green: #7A9F35;
// $color-button-special: #FFF7CB;
// $color-white: #ffffff;