@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Lexend:wght@300&family=Libre+Baskerville&display=swap');

$background-green: #336644;
$background-card: #feffd7;
$background-text: #feffd7;
$background-component: #fffff2;
$text-red: #cc0033;
$background-red: #cc0033;
$text-color: #333333;
$background-input:#CCCCCC;
$background-upcomingEvents: #DDBB44;
$font-text:'Libre Baskerville', serif;
$text-copyright: #FDE17E;