* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    body {
        background-image: linear-gradient(to bottom right, #181733, #CF122D, #181733);


        font-family: $font-text;
        min-height: 100vh;
    
    }
}
